.input {
  width: 100%;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border: solid #d9d9d9;

  &-label {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 4px;
  }

  &-group {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
